@import './variables';

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: $dark-background;
  position: relative;
  width: 100%;
}

#page-button-container {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  
  a {
    padding: 5px 10px;
    font-size: 2rem;
    
    button {
      color: white;
      box-shadow: 1px 1px 7px black;
    }
  }
}

.new-project-form-button {
  width: 20%;
}

.new-project-form-button:hover {
  background-color: rgb(0, 93, 87);
}

.form-control {
  font-size: 1.3em;
  margin-bottom: 5%;
}


.background-element {
  background: url(https://images.unsplash.com/photo-1487816426104-08fd29b09ac8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2125&q=80);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

h1 {
  color: white;
  text-align: center;
}

.page-button {
  font-size: 150%;
  border: none;
  border-radius: 3px;
  outline: none;
  color: antiquewhite;
  background-color: $side-navbar;
  cursor: pointer;
  padding: 5px 8px;
}

form {
  margin: 2% auto;
}

input,
select,
textarea {
  height: 5vh;
  width: 100%;
  font-size: 1.75rem;
  background-color: $input-background;
  border: none;
  border-bottom: 3px solid $input-border;
  display: block;
  outline: none;
  color: $box-shadow-color;
  padding: 8px 2%;
}
