

$dark-background:#27272F;
$input-background:#3E3E44;
$input-border:#494955;
$input-text:#dadadd;
$button-color:#37EFBA;
$icon-font-size: 35px;
$box-shadow-color:whitesmoke;
$font-family: 'Lato', sans-serif;
$text-transform: uppercase;

$preloader-z-index:10003;
$modal-z-index:10002;
$navbar-z-index:10001;
