@import './variables';

.about-us-wrapper {
    .about-us-container {
        .about-header {
            padding-top: 5%;
            background-color: $dark-background;
        }
                  
        .person-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 13%;

            .person {
                height: 500px;
                width: 20%;
                min-width: 300px;
                color: white;
                background-color: rgb(0, 93, 87);
                text-align: center;
                margin-bottom: 8%;

                img {
                    width: 100%;
                }

                .social-icon-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    font-size: 2.2em;

                    .fab, 
                    .fas {
                        color: white;
                    }
                }
    
                .profile-name {
                    margin: 10% 0 10% 0;
                }
            }
        }
    }
           
                   
}

@media (max-width: 415px){
    .about-us-wrapper {

        .about-us-container {

            .about-header {
                padding-top: 15%;
            }

            .person-container {
                margin-top: 35%;
            }
        }
    }
         
}

@media (max-width: 360px){
    .about-us-wrapper {

        .about-us-container {

            .person-container {
                margin-top: 50%;
            }
        }
    }
         
}
                