//Arrow
.fa-angle-down{
    font-weight: 900;
    font-size: 32px;
    position: relative;
    left: 50%;
   
  }
  
  .fa-angle-down:hover{
    font-size:35px;;
  }
  
  .fa-angle-down{
    display:absolute;
    width:100px;
    height:100px;
    color:White; 
  }
  .fa-angle-down{
    animation:bounce 2s infinite;
  }
  
  @keyframes bounce{
    0%, 50%, 100%{
      transform:translateY(0);
    }
    25%{
      transform:translateY(-20px);
    }
    75%{
      transform:translateY(-15px);
    }
  }

