@import './variables';

.comparables-wrapper {
    position:relative;
    z-index: 0;

    .comparables-container {
        width: 100%;
        padding-top: 7vh;

        .movie-info-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;

            .movies {
                width: 25vw;
                text-align: center;

                .comparison-movie-display {

                    .movie-image {
                        width: 80%;
                        margin: 9% 0 3% 0;
                        transition: all 1s;
                        transform: translateX(0px);
                        &.inactive-left{
                            transform:translateX(-100vw);
                        }
                        &.inactive-right{
                            transform:translateY(100vw);
                        }
                        
                        &:hover{
                            filter: drop-shadow(2px 3px 6px $button-color);
                        }
                    }

                    .movie-title-wrapper {

                        h3 {
                            font-size: 1.3em;
                        }
                    }
                }      
            }
        }
    }
}
