@import './variables';


.comparables-filter{
     @extend %filter;
        opacity:0.8;
        z-index:-1;
}
.comparables-wrapper {
    position:relative;
    z-index: 0;
    // overflow-y:scroll;
    // max-height:95vh;
    width:100%;
    background-image: url('./assets/images/comparison.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow:hidden;
    .comparables-container {
        width: 100%;
        background-size:cover;
        background-repeat:no-repeat;
        overflow-y:scroll;
        max-height:100vh;
        padding: 20px 0px 36px;
            h1{
                font-size: 50px;
                text-shadow: 3px 3px 5px black;
                letter-spacing: 2px;
            }
        .movie-info-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            padding: 10px 0 80px;

            .movies {
                width: 25vw;
                text-align: center;

                .comparison-movie-display {

                    .movie-image {
                        width: 85%;
                        margin: 9% 0 3% 0;
                        transition: all 1s;
                        transform: translateX(0px);
                        &.inactive-left{
                            transform:translateX(-100vw);
                        }
                        &.inactive-right{
                            transform:translateX(100vw);
                        }
                        
                        &:hover{
                            filter: drop-shadow(2px 3px 6px $button-color);
                        }
                    }

                    .movie-title-wrapper {

                        h3 {
                            font-size: 1.3em;
                        }
                    }
                }      
            }
        }
    }
}

.button-container {
    height: 20vh;
    width: 10vw;
    margin: 0 auto;
    background: $dark-background;

    .button-btn {
        display: inline-block;
    }
  
    button {
        width:100%;
      }
}
