@import './variables';
 
.contact-us-wrapper {
  width: 100%; 
  height: 100vh;
  padding-top: 8%;
  background-image: url('../assets/images/contact_us.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .contact-us-container {

      .contact-us-form {
        width: 70vw;
        padding: 42px;
        background: rgba(212, 212, 212, 0.6);
        box-shadow: 2px 2px 8px;
        border-radius: 14px;
        margin: 0 auto;

        .contact-title {
          margin-bottom: 5%;
        }
        
        .double-inputs {
          width: 100%;
          display: flex;
          flex-direction: row ;
          justify-content: space-between;

          div {
            height: 10vh;
            width: 48%;
          }    
        }

        .message-input {
          height: 20vh;

          #message {
            height: 15vh;
          }

        }

        .contact-button-container {
          text-align: center;
        }
      }
  }
}

p {
  color: red;
  text-align: left;
}