@import './variables';
@import './main';

.contact-us-wrapper {
  overflow: hidden;

  .contact-us-form {
    width: 50%;

    input::placeholder,
    textarea::placeholder { 
      color: $input-placeholder; 
    }

    .contact_text {
      height: 20vh;
    }

    .send-email-button {
      top: 75%;
      left: 45%;
    }
  }   
}


input[type="text"]{
  color:whitesmoke;
}

input[type="email"]{
  color:whitesmoke;
}