@import './variables';


.nav.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  border: none; 
  margin-bottom: 3%;

  .nav-item.nav-link {
    width: 15%;
    text-align: center;
    background-color: $button-color;
    border-radius: 0.25rem;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $dark-background;
  }

}

.card-financial-global-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  .card.financial-card {
    width: 30%;
    margin: 0 auto;
  
    .financial-header {
      font-size: 1.2rem;
      height: 8vh;
      line-height: 8vh;
      text-align: center;
      background-color: $button-color;
      margin: 0;
    }

    .financial-body {
      height: 100%;
      color: $button-color;
      border: 2px solid $button-color;
      background-color: $dark-background;
      padding: 4% 2% 1% 4%;
    }
  }
}


