@import './variables';

.home-container {
  height: 100vh;
  background-image: url('./assets/images/backdrop.jpg');
  background-size: cover;
  color: rgb(0, 93, 87);
  font-weight: 900;

  .homepage-content {
    position: relative;
    top: 25%;
    width: 85%;
    padding: 20px;
    background: rgba(212, 212, 212, 0.8);
    margin: 0 auto;
    box-shadow: 2px 2px 8px;

    .home-title {
      color: rgb(0, 93, 87);
      font-size: 5rem;
      padding: 5px;
      text-shadow: none;
    } 
    
    .desktop-paragraph,
    .mobile-paragraph {
      margin: 0 auto;
      font-size: 1.5rem;
      padding: 20px 20px 30px;
      text-align: justify;
    }

    .desktop-paragraph {
      display: inline-block;
    }

    .mobile-paragraph {
      display: none;
    }

    .home-button-container {
      margin-bottom: 1%;
      text-align: center;
    }
  }        
}

@media (max-width: 450px){
  .home-container {
    background-size: auto;

    .homepage-content {
      top: 5%;
      width: 80%;
      padding: 10px;

      .home-title {
        font-size: 2rem;
        margin: 5% 1%;
      } 
      
      .desktop-paragraph {
        display: none;
      }

      .mobile-paragraph {
        display: inline-block;
      }

      .home-button-container {
        margin-bottom: 5%;
      }
    }        
  }    
}

@media (max-width: 375px){
  .home-container {
    .homepage-content {
      .mobile-paragraph {
        font-size: 1.3em;
      }
    }        
  }    
}

@media (max-width: 360px){
  .home-container {
    .homepage-content {
      .mobile-paragraph {
        font-size: 1.2em;
      }
    }        
  }    
}

@media (max-width: 320px){
  .home-container {
    .homepage-content {
      .home-title {
        font-size: 1.5rem;
      }

      .mobile-paragraph {
        font-size: 1.1em;
      }
    }        
  }    
}