@import './variables';

.home-container {
  height: 100vh;
  background-image: url('./assets/images/backdrop.jpg');
  background-size: cover;

  .homepage-content {
    position: relative;
    top: 25%;
    width: 85%;
    padding: 20px;
    background: rgba(0, 93, 87, 0.6);
    margin: 0 auto;
    box-shadow: 2px 2px 8px;

    .home-title {
      font-size: 5rem;
      padding: 5px;
      text-shadow: 1px 1px 5px black;
    } 
    
    .ftf-paragraph {
      margin: 0 auto;
      color: white;
      font-size: 1.5rem;
      padding: 20px 20px 30px;
      text-shadow: 2px 2px 8px black;
    }

    .home-button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;

        .page-button.start-project-button,
        .page-button.login-button {
          padding: 9px 31px;
          margin: 0 auto;
          color:white;
          border: 2px solid white;
          text-shadow:2px 2px 8px black;
          outline: none;
        }

        a:link,
        a:visited,
        a:hover,
        a:active {
          text-decoration: none;
        }

        .login-button:hover,
        .start-project-button:hover {
          background-color: white;
          color: rgb(0, 93, 87);
        }
    }
  }        
}

.login-link {
  margin-right: 5%;
}