@import './variables';

h1 {
  font-size: 50px;
  text-shadow: 3px 5px 15px black;
  text-align: center;
}

.form-box {
  position: relative;
  width: 85%;
  max-width: 1200px;
  padding: 42px;
  background: rgba(255, 255, 255, 0.6);
  margin: 129px auto 0;
  box-shadow: 2px 2px 8px;
  border-radius: 15px;
}