@import './variables';

.details-container {
  overflow-x: scroll;

  .details-title {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
  }

  .details-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 8%;

    .details {
      width: 40vw;
      color: $white;
      border-right: 2px solid $green;
      margin-right: 3%;
      padding-right: 2%;

      .movie-details {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 3%;

        .section {
          width: 15vw;
          padding-right: 5%;

          .details-image {
            width: 100%;
            padding-bottom: 10%;
          }
        }
      }
    }

    .details:last-child {
      border-right: none;
    }
  }
}

@media (orientation: portrait){
  .details-container {
    overflow-x: visible;

    .details-title {
      position: static;
      transform: none;
    }

    .details-info-container {
      display: block;

      .details {
        width: 100%;
        border-right: none;

        .movie-details {
          
          .section {

            .details-image {
              
            }
          }
        }
      }
    }

    .detail-buttons {
      position: static;
      transform: none;
      margin-bottom: 20%;
    }
  }
}