@import './variables';
@import './main';

.movie1_comparison_modal {
  position: fixed;
  top: 0;
  left: 0;

  background: $dark-background;
  pointer-events: none;
  height: 100vh;
  width: 100%;
  padding-top: 7vh;
  color: white;
  transition: all 0.5s;
  transform: translateY(100%);
  
  &.active {
    height: 110vh;
    display: block;
    pointer-events: inherit;
    opacity: 1;
    transition: all 0.5s;
    transform: translateY(0);
  }
}
.details-filter{
@extend %filter;
opacity:0.6;
}
.modal-content.details-info-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding:0px 0px;
  justify-content: space-evenly;
 
  background: url('./assets/images/details.jpg');
  border: none;

}
  .modal-movie-img {
    width: 35vw;
    margin:2px 0;
    text-align: center;

    .movie-image {
      width: 248px;
      margin:0% 0 1% 14px;
    }
    &:hover{
      filter: drop-shadow(2px 3px 6px $button-color); 
    }

    h3 {
      font-size: 1.2rem;
    } 
  } 
h1 {
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 3px 5px 15px black;
}

.movies-button-container {
  height: 20vh;
  width: 10vw;
  margin: 0 auto;
  background: $dark-background;

  .details-submit-button {
   color:$box-shadow-color;
  background: $dark-background;
  }
}

.details-page-button{
  color: antiquewhite;
  background-color: $side-navbar;
    font-size: 150%;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    padding: 5px 8px;
}

.details-button-container{
  position: absolute;
  left: 47%;
  bottom: 19%;
}