@import './variables';

.suggestion-list {
  list-style-type: none;
  background-color: white;
  padding-left: 2%;
}

.movie-poster {
  height: 50px;
  margin: 1% 0;
}

.new-project-wrapper {
  width: 100%;
}

.new-project-form {
  width: 70%;
  padding: 42px;
  margin: 0 auto;

  p {
    color:$required-form;
    font-weight:400px;
  }
}

#title-label,
#runtime-label,
#logline-label,
#synopsis-label,
#film1-label,
#film2-label,
label {
  color: $box-shadow-color;
  text-shadow:1px 1px 1px black;
  margin-bottom: 0.1%;
}

#year-input, 
#mpaa-input, 
#genre-input, 
#production-stage-input {
  color: $box-shadow-color;
}

.user-input-button-container {
  text-align: center;
}

.multiple-inputs-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-control {
  color: $input-placeholder;
  background-color: #3e3e44;
  border: none;
}

#synopsis {
  height: 15vh;
  margin-bottom: 1%;
}

.meets {
  font-size: 1.1em;
  line-height: 5em;
  text-align: center;
  display: inline-block;  
}

.meets-container {
  color: $box-shadow-color;
  text-shadow:1px 1px 1px black;
  margin-bottom: 0.1%;
  width: 10vw;
  text-align: center;
}

.fa-question-circle {
  display: inline-block;
  margin-left: 2%;

  position: relative;
}

.four-input-grouping {
  width: 15vw;
}

.two-input-grouping {
  width: 31vw;
}

.film-input-grouping {
  flex-grow: 1;
}

.fa-question-circle .tooltiptext {
  visibility: hidden;
  width: 15vw;
  background-color: #555;
  color: #fff;
  text-align: left;
  padding: 50%;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: -100%;
  left: 550%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext.production-tooltip {
  display: inline-block;
  bottom: -780%;
}

.definition {
  display: inline-block;
  margin-bottom: 5%;
}

/*.fa-question-circle .tooltiptext::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 0%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}*/

.fa-question-circle:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.new-project-clear-button {
  margin-right: 5%;
}

@media (max-width: 1100px){
  .two-input-grouping {
    min-width: 100%;
  }    

  .four-input-grouping {
    min-width: 155px;
  }  
}

@media (max-width: 756px){ 
  .film-input-grouping {
    width: 100%;
  }

  .meets-container {
    width: 100%;
  }

  .meets {
    font-size: 1em;
    line-height: 1em; 
  }
}

@media (max-width: 570px){ 
  .four-input-grouping {
    min-width: 100%;
  } 
}

@media (max-width: 450px){
  .new-project-wrapper {
    padding: 2% 0 15% 0;
  }

  .new-project-container {
    padding-top: 15%;
  }

  .new-project-form {
    width: 85vw;
    padding: 6% 5%;
  }

  .two-input-grouping,
  .four-input-grouping {
    width: 100%;
  }

  .fa-question-circle .tooltiptext {
    display: inline-block;
    width: 43vw;   
    bottom: -95%;
  }

  .meets {
    display: none; 
  }
}

@media (max-width: 360px){
  .new-project-wrapper {
    padding: 2% 0 20% 0;
  }
}

@media (max-width: 320px){
  .new-project-wrapper {
    padding: 4% 0 23% 0;
  }
}