@import './variables';

.new-project-wrapper {
  background-image: url('./assets/images/user.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;

  .new-project-container {

    .new-project-form {
      width: 70%;
      padding: 42px;
      background: rgba(212, 212, 212, 0.6);
      box-shadow: 2px 2px 8px;
      border-radius: 14px;
      margin: 0 auto;

      p {
        color:$required-form;
        font-weight:400px;
      }

      #title-label,
      #runtime-label,
      #logline-label,
      #synopsis-label,
      #film1-label,
      #film2-label,
      label {
        font-family: "lato";
        color: $box-shadow-color;
        text-shadow:1px 1px 1px black;
        margin-bottom: 0.1%;
      }

      #year-input, 
      #mpaa-input, 
      #genre-input, 
      #production-stage-input {
        color: $box-shadow-color;
      }
    }
  }
}

.user-input-button-container {
  text-align: center;
}

.multiple-inputs-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}


.form-control {
  color: $input-placeholder;
  background-color: #3e3e44;
  border: none;
}


#synopsis {
  height: 15vh;
  margin-bottom: 1%;
}

.meets {
  font-size: 1.1em;
  line-height: 5em;
  text-align: center;
  display: inline-block;  
}

.meets-container {
  color: $box-shadow-color;
  text-shadow:1px 1px 1px black;
  margin-bottom: 0.1%;
  width: 10vw;
  text-align: center;
}

.fa-question-circle {
  display: inline-block;
  margin-left: 2%;

  position: relative;
}

.four-input-grouping {
  width: 15vw;
}

.two-input-grouping {
  width: 31vw;
}

.film-input-grouping {
  flex-grow: 1;
}

.fa-question-circle .tooltiptext {
  visibility: hidden;
  width: 15vw;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 50%;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: -100%;
  left: 550%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.fa-question-circle .tooltiptext::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 0%;
  margin-left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

.fa-question-circle:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.new-project-clear-button {
  margin-right: 5%;
}
