@import './variables';
@import './main';


// .new-project-wrapper{
//   background-image:url(../assets/images/contact_us.png);
//   background-size:cover;
//   background-repeat:no-repeat;
//   background-position:center center;
//   position:fixed;
//   width: 100%;
//   height: 100vh;

  .new-project-filter{
    position:absolute;
    height:100vh;
    width:100%;
    top:0;
    background:black;
    left:0;
    opacity: .6;
  }

// }








.new-project-wrapper {
  background-image:url(../assets/images/user_input.jpeg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  position:fixed;
  width: 100%;
  height: 100vh;

  // .new-project-filter{
  //   position:absolute;
  //   height:100vh;
  //   width:100%;
  //   top:0;
  //   left:0;
  //   opacity: .9;
  // }
  .new-project-container {
    
    .new-project-form{
      position:relative;
      width:85%;
      max-width:1200px;
      padding:42px;
      background: rgba(255, 255, 255, 0.6);
      margin: 129px auto 0;
      box-shadow: 2px 2px 8px;
    }
    .new-project-form {
      width: 70%;
      color: $input-placeholder;

      input::placeholder { 
        color: $input-placeholder; 
      }

      #year-input, 
      #mpaa-input, 
      #genre-input, 
      #production-stage-input {
        color: $input-placeholder;
      }

      .my-project {
        margin-bottom: 2%;
      }

      .meets {
        margin-top: 1.5%;
        padding: 0 1%;
      }
    }

    .first-button {
      top: 108.5%;
      left: 37.5%;
    }

    .second-button {
      right: 37.5%;
    }
  }
}
.multiple-inputs-fields{
  display:flex;
  justify-content: space-evenly;
}

h1{
    color: white;
    bottom: 20px;
    position: relative;
    text-align: center;
}

h3{
  color:$box-shadow-color;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #65686b;
  background-color: #3e3e44;
  background-clip: padding-box;
  border: 1px solid #40393c;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#message{
  height:100px;
}


.film-capture{
  position: relative;
  text-align: center;
}