@import './variables';

.sign-in-form {
  width: 50%;
  margin: 10% auto;
}

@media (orientation: portrait){

  .signin-title {
    margin-top: 40%;
    margin-bottom: 30%;
  }

  .sign-in-form {
    width: 100%;
  }
}

