@import './variables';

.wrongLogin {
  font-size: 3em;
  text-align: center;
  margin-top: 50%;
}

.signin-wrapper {
  width: 100%; 
  height: 100vh;
  padding-top: 8%;
  background-image: url('../assets/images/contact_us.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .signin-container {

    .sign-in-form {
      width: 70vw;
      padding: 42px;
      background: rgba(212, 212, 212, 0.8);
      box-shadow: 2px 2px 8px;
      border-radius: 14px;
      margin: 0 auto;

      .signin-title {
        margin-bottom: 5%;
      }

      .sign-in-inputs {
        width: 31vw;
        margin: 0 auto;

        div {
          height: 10vh;

          p {
            color: red;
            text-align: left;
          }
        }
      }
      
      .login-button-container {
        text-align: center; 
        margin-top: 3%;
      }
    }
  }
}
      
@media (max-width: 1100px){
  .sign-in-inputs {
    min-width: 100%;
  }    
}

@media (max-width: 450px){
  .signin-wrapper {
    .signin-container {
      padding-top: 10%;

      .sign-in-form {
        width: 85vw;
        padding: 8% 5%;

        .signin-title {
          margin-bottom: 10%;
          font-size: 2em;
        }
      }
    }
  }
}

@media (max-width: 360px){
  .signin-wrapper {
    .signin-container {
      .sign-in-form {   
        .login-button-container {
          .login-submit-button {
            font-size: 120%;
          }
        }
      }
    }
  }
}

@media (max-width: 320px){
  .signin-wrapper {
    .signin-container {
      .sign-in-form {  
        .signin-title {
          font-size: 1.8em;
        } 
      }
    }
  } 
}