@import './variables';

.signin-wrapper {
  width: 100%; 
  height: 100vh;

  .signin-container {
    width: 50vw;
    margin: 0 auto;

    .sign-in-form {
      padding: 42px;

      .sign-in-inputs {
        margin: 0 auto;

        div {
          height: 10vh;

          p {
            color: red;
            text-align: left;
          }
        }
      }
      
      .login-button-container {
        text-align: center; 
        margin-top: 3%;
      }
    }
  }
}
      
@media (max-width: 1100px){
  .sign-in-inputs {
    min-width: 100%;
  }    
}

@media (max-width: 450px){
  .signin-wrapper {
    .signin-container {
      padding-top: 10%;

      .sign-in-form {
        width: 85vw;
        padding: 8% 5%;

        .signin-title {
          margin-bottom: 10%;
          font-size: 2em;
        }
      }
    }
  }
}

@media (max-width: 360px){
  .signin-wrapper {
    .signin-container {
      .sign-in-form {   
        .login-button-container {
          .login-submit-button {
            font-size: 120%;
          }
        }
      }
    }
  }
}

@media (max-width: 320px){
  .signin-wrapper {
    .signin-container {
      .sign-in-form {  
        .signin-title {
          font-size: 1.8em;
        } 
      }
    }
  } 
}