@import './variables';

.conditions-wrapper {
    background-color: $dark-background;

    .terms-header {
        padding: 5% 0 1% 0;
        background-color: $dark-background;
    }

    .legal {
        color: white;
        margin-top: 12%;
        padding: 1%;
        text-align: justify;
        font-size: 1.3em;
    }   
}

@media (max-width: 800px){

    .conditions-wrapper {

        .legal {
            padding: 6% 5%;
        } 
    }     
}


@media (max-width: 415px){

    .conditions-wrapper {

        .terms-header {
            padding-top: 15%;
            padding-bottom: 5%;
        }

        .legal {
            padding-top: 37%;
        } 

    }
     
}